/* Variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #FF265A;
}

body {
  font-family: 'Arial Narrow', Arial, sans-serif;
  background: url(../img/fondo3.png);
}

main {
  width: 80%;
  margin: 0 auto;
}

.header {
  background: url(../img/back-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.header .logo {
  width: 30%;
}

.navbar {
  background-color: black;
  height: 50px;
  margin: 0 200px;
  display: flex;
  flex-wrap: wrap;
}

.navbar .menu {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  background-color: black;
}

.navbar .menu .menuitem {
  height: 50px;
  width: 100%;
  display: flex;
  padding: 10px 30px 10px 20px;
  align-items: center;
  border: 2px solid white;
  transition: .3s ease-in-out;
}

.navbar .menu .menuitem:hover {
  border-color: #FF265A;
}

.navbar .menu .menuitem .arrow {
  width: 5%;
  margin-top: 10px;
  margin-left: 5px;
  transition: .3s ease-in-out;
}

.navbar .menu .menuitem:hover > .arrow {
  transform: rotate(180deg);
}

.ads {
  overflow: hidden;
  background-color: black;
}

.ads .ad1 {
  height: 150px;
  overflow: hidden;
}

.ads .ad1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ads .ad2 {
  margin: 10px 600px;
  width: 30%;
}

.grid {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 50px;
}

.grid .griditem {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.grid .griditem:hover > .gridimg {
  transform: scale(1.1);
  filter: grayscale(50%);
}

.grid .griditem .gridimg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.grid .item2, .grid .item3 {
  grid-column: span 2;
}

.flex {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.flex div .ad3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex .flexsection {
  height: 100%;
  width: 80%;
  margin-right: 10px;
}

.flex .flexsection .flexarticle {
  display: flex;
  height: 200px;
  overflow: hidden;
  margin: 10px 0;
  border: 2px solid white;
  transition: .3s ease-in-out;
}

.flex .flexsection .flexarticle:hover {
  background-color: #000000;
  border-color: #FF265A;
}

.flex .flexsection .flexarticle .fleximg {
  width: 100%;
  height: 100%;
}

.flex .flexsection .flexarticle .fleximg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.flex .flexsection .flexarticle .textarticle {
  padding: 10px;
}

.flex .flexsection .flexarticle .textarticle .articletitle {
  font-weight: 900;
  font-size: 35px;
  padding-bottom: 4px;
  line-height: 35px;
}

.flex .flexsection .flexarticle .textarticle .author {
  color: white;
  padding-bottom: 20px;
}

.flex .flexsection .flexarticle .textarticle .description {
  color: white;
  font-size: 20px;
}

.flex .flexsection .flex2, .flex .flexsection .flex4, .flex .flexsection .flex6 {
  flex-direction: row-reverse;
}

.flex .flexsection .flex1 .textarticle .articletitle {
  color: #FAC3FF;
}

.flex .flexsection .flex2 .textarticle .articletitle {
  color: #A3FF6A;
}

.flex .flexsection .flex3 .textarticle .articletitle {
  color: #D6A2FF;
}

.flex .flexsection .flex4 .textarticle .articletitle {
  color: #AAE0FF;
}

.flex .flexsection .flex5 .textarticle .articletitle {
  color: #FFA755;
}

.flex .flexsection .flex6 .textarticle .articletitle {
  color: #FBFF2F;
}

#dynamic {
  flex-direction: column-reverse;
}

#dynamic .flexsection {
  width: 100%;
}

#dynamic .dynamicflex {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#dynamic .dynamicflex img {
  width: 50%;
  object-fit: cover;
}

#dynamic .dynamicflex .textarticle {
  background-color: white;
  padding: 20px;
  width: 100%;
}

#dynamic .dynamicflex .textarticle .articletitle {
  font-weight: 900;
  font-size: 35px;
  padding: 4px;
  line-height: 35px;
}

#dynamic .dynamicflex .textarticle .author {
  padding-bottom: 20px;
}

#dynamic .dynamicflex .textarticle .description {
  font-size: 20px;
}

.hamburgermenu {
  display: none;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  transition: .3s ease-in-out;
  padding: 10px;
  position: absolute;
  right: 0;
  background-color: black;
}

.hamburgermenu:hover {
  border-color: #FF265A;
}

.hamburgermenu .arrow {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: .3s ease-in-out;
}

.hamburgermenu:hover > .arrow {
  transform: rotate(180deg);
}

.hamburgermenu:hover > .arrow:focus {
  outline: none;
}

@media screen and (max-width: 900px) {
  .header .logo {
    width: 50%;
  }
  .navbar .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 50px;
    right: 0;
  }
  .navbar .menu .menuitem .arrow {
    width: 10%;
  }
  .hamburgermenu {
    display: block;
  }
  .navbar .show {
    display: flex;
    width: 20%;
  }
  .ads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ads .ad1 {
    height: 200px;
    width: 100%;
  }
  .ads .ad2 {
    margin: 10px 0;
    width: 100%;
  }
  .grid {
    width: 100%;
  }
  .flex {
    width: 100%;
    flex-direction: column;
  }
  .flex div {
    height: 300px;
  }
  .flex div .ad3 {
    object-position: 50% 100%;
  }
  .flex .flexsection {
    width: 100%;
  }
  .flex .flexsection .flexarticle .textarticle .articletitle {
    font-size: 25px;
    line-height: 25px;
  }
  .flex .flexsection .flexarticle .textarticle .author {
    padding-bottom: 10px;
  }
  .flex .flexsection .flexarticle .textarticle .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 90%;
  }
  .header .logo {
    width: 100%;
  }
  .grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .grid .griditem {
    height: 200px;
  }
}
/*# sourceMappingURL=styles.css.map */